<!-- <div class="">
    <div class="row">
        <div class="col-12">
            <div class="footer-top">
                <div class="row">
                    <div class="col-6">
                        <div class="footer-contant" >© 2021 All rights reserved by BSRM Group Of Companies</div>
                    </div>
                    <div class="col-6">
                        <div class="footer-contant pull-right" >Developed by BSRM IT</div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div> -->

<footer class="footer">
  <div class="d-sm-flex justify-content-center">
    <span class="text-muted text-center text-sm-left d-block d-sm-inline-block"
      >Copyright © 2022 - {{ getCurrentYear }}. All rights reserved by BSRM
      Group Of Companies. Developed by BSRM IT</span
    >
  </div>
</footer>
