.footer-top {
  background: url(../../../../assets/images/foot_bottom_bg.png) repeat-x #454545;
  border-top: 5px solid #fd0;
  border-bottom: 1px solid #343434;
  position: relative;
  padding: 10px 0px;
}

.footer-contant {
  font-weight: bold;
  margin-left: 20px;
  color: white;
  font-size: 12px;
}

.pull-right {
  float: right;
  margin-right: 20px;
}
